@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  transition: all .3s ease;
  z-index: 1000;
}

.navbar.sticky {
  background-color: crimson;
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.navbar .navbar-brand span {
    color: crimson;
    transition: all .3s ease;
}

.navbar.sticky .navbar-brand span {
    color: #fff;
}

.navbar .collapse ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar .collapse ul li a:hover {
    color: crimson;
}

.navbar.sticky .collapse ul li a:hover {
    color: #fff;
}

.max-width {
  max-width: 1300rem;
  padding: 0 5rem;
  margin: auto;
}

.home {
  display: flex;
  background: url("assets/images/C11\ Kelebogile\ Nobomvu\ \(4\).JPG");
  background-size: contain; 
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #2F303A;
  color: #fff;
  min-height: 20rem;
  font-family: "Ubuntu", sans-serif;
}

.home button a {
    list-style: none;
    text-decoration: none;
}

.home .max-width {
    margin: auto 0 auto 40rem;
}

.home .home-content .text1 {
    font-size: 2rem;
}

.home .home-content .text2 {
    font-size: 3rem;
    font-weight: 600;
    margin-left: -.2rem;
}

.home .home-content .text3 {
    font-size: 2rem;
    margin: .2rem 0;
}

.home .home-content .text3 span {
    color: crimson;
}

section {
    padding: 5rem 0;
}

.about, .skills, .projects, .testimonials, .contact {
    font-family: 'Poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: '';
    position: absolute;
    width: 13rem;
    height: .2rem;
    background-color: #2F303A;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.about .title::after {
    content: 'who i am';
    position: absolute;
    padding: .3rem;
    background-color: #fff;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}

.about .about-content .left img {
    height: 40rem;
    width: 30rem;
    object-fit: cover;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a,
.contact form .btn,
.home button {
    list-style: none;
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: .5rem;
    border: .1rem solid crimson;
    transition: all .3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

.skills .title::before,
.projects .title::before,
.contact .title::before {
    background-color: #fff;
}

.skills .title::after {
    content: 'my skills';
    position: absolute;
    padding: .2rem;
    background-color: #2F303A;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}

.skills, .projects, .contact {
    background-color: #2F303A;
    color: #fff;
}

.skills .skills-content .row {
    padding-bottom: 2rem;
}

.skills .skills-content .card {
    /* width: calc(50% - 1rem); */
    height: 15rem;
    background-color: #222;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: .3rem;
    padding: 2rem 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.skills .skills-content .card i {
    font-size: 2rem;
    color: crimson;
    transition: color .3s ease;
}

.skills .skills-content .card .text {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 1rem 0;
}

.skills .skills-content .card .box {
    transition: all .3s ease;
}

.skills .skills-content .card:hover .box {
    transform: scale(1.05);
}

.skills .skills-content .card:hover {
    background-color: crimson;
}

.skills .skills-content .card:hover i{
    color: #fff;
}


.skills .skills-content .righty .bars {
    margin-bottom: .5rem;
}

.skills .skills-content .righty .info {
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .righty span {
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem;
}

.skills .skills-content .righty i {
    padding-right: 1rem;
    font-size: 2rem;
}

.skills .skills-content .righty .line {
    height: .5rem;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .righty .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0%;
    top: 0%;
    background: crimson;
}

.skills .skills-content .righty .html::before {
    width: 80%;
}

.skills .skills-content .righty .css::before {
    width: 70%;
}

.skills .skills-content .righty .js::before {
    width: 60%;
}

.skills .skills-content .righty .boot::before {
    width: 70%;
}

.skills .skills-content .righty .mysql::before {
    width: 50%;
}
.skills .skills-content .righty .vue::before {
    width: 70%;
}
.skills .skills-content .righty .node::before {
    width: 75%;
}

.education .title::after {
    content: 'my experience';
    position: absolute;
    padding: .2rem;
    background-color: #fff;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}


.timeline {
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: relative;
    max-width: 1200rem;
    margin: 0 auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: .3rem;
    background-color: #2F303A;
    top: 0;
    bottom: 0;
    left: 49.5%;
    margin-left: -.1rem;
    margin-top: 2rem;
}

.content {
    text-align: center;
}

.containery {
    padding: 2rem 4rem;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.containery::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: -.5rem;
    background-color: white;
    border: .2rem solid crimson;
    top: .7rem;
    border-radius: 50%;
    z-index: 1;
}

.lefty {
    left: 0;
}

.righty {
    left: 50%;
}

.lefty::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 4rem;
    width: 0;
    z-index: 1;
    right: 2rem;
    border: medium solid white;
    border-width: .5rem 0 .5rem .5rem;
    border-color: transparent transparent transparent #2F303A;
}

.righty::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 2rem;
    width: 0;
    z-index: 1;
    left: 2rem;
    border: medium solid white;
    border-width: .5rem .5rem .5rem 0;
    border-color: transparent #2F303A transparent transparent;
}

.righty::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: crimson;
    position: relative;
    border-radius: 6px;
}

.projects .title::after {
    content: 'what i have done';
    position: absolute;
    padding: .2rem;
    background-color: #2F303A;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}

.projects .box img,
.testimonials .box img {
    width: 100%;
    height: 15rem;
    transition: .5s ease;
}

.projects .icons {
    display: flex;
}

.projects .box:hover img, 
.testimonials .box:hover img {
    transform: scale(1.1);
}

.projects .container,
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projects .box {
    position: relative;
    box-sizing: 0 0 1rem crimson;
    overflow: hidden;
    display: flex;
}

.project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0 , 0 , .1), crimson);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects .box:hover .project-layer,
.testimonials .box:hover .testimonial-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 2rem;
}

.project-layer p {
    font-size: 1rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: crimson;
    border-radius: 50%;
}

.project-layer a i {
    font-size: 1rem;
    color: #2F303A;
}

.testimonials .title::after {
    content: 'whats said about me';
    position: absolute;
    padding: .2rem;
    background-color: #fff;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}

.testimonials .box {
    position: relative;
    box-sizing: 0 0 1rem #2F303A;
    overflow: hidden;
    display: flex;
}

.testimonial-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0 , 0 , .1), #2F303A);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.testimonials .box .testimonial-layer p,
.testimonials .box .testimonial-layer h5 {
    color: #fff;
}

.contact .title::after {
    content: 'get in contact';
    position: absolute;
    padding: .2rem;
    background-color: #2F303A;
    font-size: 1.2rem;
    color: crimson;
    left: 50%;
    bottom: -.8rem;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: crimson;
    background: #4d4e51;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}